:root {
  --blue-button: #4387fd;
}

* {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
}

nav {
  display: flex;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #222;
}
nav a:nth-child(2) {
  flex: 1;
}

nav a:nth-child(5) {
  background: var(--blue-button);
  color: white;
  padding-top: 5px;
  padding-right: 9px;
  padding-left: 9px;
  padding-bottom: 5px;
  font-weight: bold;
}

header {
  min-height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header input[name="search"] {
  margin-top: 50px;
  width: 750px;
  height: 55px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.formButtons {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

.formButtons input[type="submit"] {
  margin-right: 25px;
  background-color: #f8f8f8;
  color: #666;
  height: 45px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
}

.offer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.offer a {
  text-decoration: none;
  color: blue;
}

footer {
  background-color: #f8f8f8;
  color: #666;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.country {
  border-bottom: 1px solid #ccc;
  height: 65px;
}

.info {
  display: flex;
  height: 65px;
  align-items: center;
}

.info a {
  text-decoration: none;
  padding-right: 15px;
  color: #666;
}

.info a:nth-child(3) {
  flex: 1;
}
