* {
  font-family: "Noto Sans", sans-serif;
}

.header {
  padding: 20px;
  display: flex;
  color: #666;
}

a {
  text-decoration: none;
  color: #222;
  text-transform: capitalize;
  padding-right: 25px;
}

.navLeft {
  flex: 1;
}

.navRight {
  flex-direction: row-reverse;
}

.navRight > a:nth-child(3) {
  background: #4285f4;
  color: white;
  padding: 5px;
}

.contentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
}

.contentForm > img {
  height: 100%;
  align-self: center;
}

.contentForm > form {
  align-self: center;
  margin-top: 50px;
}

input[type="text"] {
  width: 650px;
  height: 40px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.contentButtons {
  display: flex;
  justify-content: center;
}

.contentButtons > a {
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #666;
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  border-radius: 3px;
  height: 27px;
}

.easter {
  display: flex;
  justify-content: center;
  height: 200px;
}

.easter > img {
  align-self: center;
}

.offerBy {
  display: flex;
  justify-content: center;
}

.offerBy > p {
  color: black;
}

.offerBy > p > a {
  color: blue;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  color: #666;
  font-size: 25px;
  width: 100%;
}

.footerNav > a:nth-child(2) {
  color: black;
  margin-right: 135px;
}
